@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: radial-gradient(circle, #1f3756, #141539);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

